header{
  height:100px;
  background: #DD9999;
}
h1{
  font-family: helvetica;
  color: #152a4d;
  text-align:center;
  margin: 20px auto;
}

main{
  height:700px;
}


footer{
  background:#152a4d;
  height:100px;
}
p{
  color:white;
  margin-left: 20px;
}
.table:{
  background: yellow;
}
